  <div class="container">        
        <div class="row">
          <div class="span3">
              <a href="http://ec.europa.eu/"><img src="{{url_for('static', filename='img/commlogo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://cordis.europa.eu/fp7/home_en.html"><img src="{{url_for('static', filename='img/fp7logo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://europa.eu/"><img src="{{url_for('static', filename='img/eulogo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://pybossa.com/"><img src="{{url_for('static', filename='img/pybossa.png')}}"></a>
          </div>
        </div>
      </div>

