  <div class="container">        
        <div class="row">
          <div class="span3">
              <a href="http://ec.europa.eu/"><img src="{{url_for('static', filename='img/commlogo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://cordis.europa.eu/fp7/home_en.html"><img src="{{url_for('static', filename='img/fp7logo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://europa.eu/"><img src="{{url_for('static', filename='img/eulogo.jpg')}}"></a>
          </div>
          <div class="span3">
              <a href="http://pybossa.com/"><img src="{{url_for('static', filename='img/pybossa.png')}}"></a>
          </div>
         <div class="spam3">
        <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=cQI6sOLgLUXjiOv1J756ftzXqATH5ozjjFgZVSQR8KiIBSHx6vrYoqYfw2"></script></span>

        </div>

        </div>
      </div>

